<div id="layoutSidenav_nav">
    <nav class="sb-sidenav bg-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
				<a class="nav-link" routerLink="/home" >
					<div class="sb-nav-link-icon p-2">
						<i class="fas fa-tachometer-alt"></i>
					</div>
					Home
				</a>

				<div class="sb-sidenav-menu-heading p-2">Cadastros
					<a class="nav-link collapsed" routerLink="/clientes-lista">
						<div class="sb-nav-link-icon">
							<i class="fas fa-users"></i>
						</div>
						Clientes
					</a>
				</div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
